<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/adminLayout}">

<th:block layout:fragment="mystyle">
    <link rel="stylesheet" href="static/css/manageNoticeView.css">
</th:block>
<th:block layout:fragment="main">
    <div class="container">
        <div class="contents">
            <div class="left_wrap">
                <p>게시판 관리</p>
                <ul>
                    <a href="/manageNotice">
                        <li class="left_wrap_btn">
                            <span class="select_btn">공지사항 관리</span>
                        </li>
                    </a>
                    <a href="/manageFAQ">
                        <li class="left_wrap_btn">
                            <span>자주 찾는 질문 관리</span>
                        </li>
                    </a>
                    <a href="/manageQNA">
                        <li class="left_wrap_btn">
                            <span>문의 관리</span>
                        </li>
                    </a>
                </ul>
            </div>
            <div class="right_wrap">
                <p class="right_title">
                    공지사항 관리
                </p>
                <div class="right_list">
                    <div class="notice_wrap">
                        <ul class="notice_header">
                            <li th:text="${detail.getBoard_name()}"></li>
                            <li th:text="${detail.getBoard_regdate()}"></li>
                        </ul>
                        <div class="notice_body">
                            <div class="notice_body_write">
                                <span style="white-space: pre-wrap !important" th:text="${detail.getBoard_contents()}"></span>
                            </div>
                            <div th:style="${not #strings.isEmpty(detail.getBoard_attachPath()) ? 'display:block' : 'display:none'}" class="notice_body_img">
                                <img style="margin-top: 10px; max-width: 100%;" th:src="${detail.getBoard_attachPath()}">
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <a href="#">
                        <div class="write_btn" id="dtbtn">
                            삭제
                        </div>
                    </a>
                    <a href="#">
                        <div class="write_btn" id="uptbtn">
                            수정
                        </div>
                    </a>
                    <a href="/manageNotice">
                        <div class="write_btn">
                            목록
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</th:block>
<th:block layout:fragment="myscript">
    <script>
        let dtbtn = document.getElementById("dtbtn");
        let uptbtn = document.getElementById("uptbtn");

        dtbtn.addEventListener("click", deleteNotice);
        uptbtn.addEventListener("click", updateNotice);

        function deleteNotice(){
            if(confirm("해당 공지를 삭제하시겠습니까?")){
                alert('삭제가 완료되었습니다.');
                location.href = '/deleteNotice?board_idx=[[${detail.getBoard_idx()}]]';
            }
        }

        function updateNotice(){
            if(confirm("해당 공지를 수정하시겠습니까?")){
                location.href = '/modifyNotice?board_idx=[[${detail.getBoard_idx()}]]';
            }
        }
    </script>
</th:block>


</html>