<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/adminLayout}">

<th:block layout:fragment="mystyle">
    <link rel="stylesheet" href="static/css/manageStage.css">
</th:block>

<th:block layout:fragment="main">
    <div class="container">
        <div class="contents">

            <div class="full_wrap" th:with="cpg=${(param.cpg == null or #strings.equals(param.cpg,''))? 1: T(java.lang.Integer).parseInt(param.cpg)}">

                <div class="page_header">
                    <h2>공연 목록 관리</h2>

                    <div class="header_right_group">
                        <form action="/managestage" method="get" class="search_box_wrap">
                            <select name="searchType" class="search_select">
                                <option value="name">공연명</option>
                                <option value="host">주최사</option>
                            </select>
                            <input type="text" name="keyword" class="search_input" placeholder="검색어 입력">
                            <button type="submit" class="btn_search">검색</button>
                        </form>

                        <a href="/registerstage" class="btn_register">신규 등록</a>
                    </div>
                </div>

                <div class="stage_list_container">

                    <div class="list_header">
                        <div class="col col_idx">번호</div>
                        <div class="col col_title">공연 제목</div>
                        <div class="col col_host">주최사</div>
                        <div class="col col_status">현재 상태</div> <div class="col col_manage">관리</div>
                    </div>

                    <div class="list_body">
                        <th:block th:each="stage: ${stageList}">
                            <div class="list_row">
                                <div class="col col_idx" th:text="${stage.rownum}"></div>

                                <div class="col col_title">
                                    <a th:text="${stage.stage_name}" th:href="@{/manageStageView(stage_idx=${stage.stage_idx})}"></a>
                                </div>

                                <div class="col col_host" th:text="${stage.stage_host}"></div>

                                <div class="col col_status">
                                    <span class="status_badge warning" th:if="${stage.schedule_yn.toString() == 'N'}">미편성</span>

                                    <span class="status_badge complete" th:if="${stage.schedule_yn.toString() == 'Y'}">편성 완료</span>
                                </div>

                                <div class="col col_manage btn_group">
                                    <a th:href="@{/schmng(stage_idx=${stage.stage_idx})}" class="btn_action schedule">편성 관리</a>
                                </div>
                            </div>
                        </th:block>
                    </div>

                </div>

                <div class="list_pager">
                    <a th:if="${cpg > 1}" th:href="@{'/managestage?cpg=1'}"><button class="btn_pager first" type="button"></button></a>
                    <a th:if="${cpg > 1}" th:href="@{'/managestage?cpg=' + ${cpg - 1}}"><button class="btn_pager prev" type="button"></button></a>
                    <ul>
                        <th:block th:each="i: ${#numbers.sequence(0, 9)}">
                            <th:block th:if="${(stpgn + i) <= pages}">
                                <li>
                                    <span th:text="${stpgn + i}" th:if="${cpg == (stpgn + i)}" class="on"></span>
                                    <span th:unless="${cpg == (stpgn + i)}">
                                        <a th:href="@{/managestage(cpg=${stpgn+i})}">[[${stpgn + i}]]</a>
                                    </span>
                                </li>
                            </th:block>
                        </th:block>
                    </ul>
                    <a th:if="${cpg < pages}" th:href="@{'/managestage?cpg=' + ${cpg + 1}}"><button class="btn_pager next" type="button"></button></a>
                    <a th:if="${cpg < pages}" th:href="@{'/managestage?cpg='+${pages}}"><button class="btn_pager end" type="button"></button></a>
                </div>

            </div>
        </div>
    </div>
</th:block>
<th:block layout:fragment="myscript">
</th:block>
</html>