<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/adminLayout}">

<th:block layout:fragment="mystyle">
    <link rel="stylesheet" href="static/css/manageMember.css">
</th:block>     

<th:block layout:fragment="main">	
	<div id="container">
	    <div class="contents">
	        <div class="left_wrap">
	            <p>회원 관리</p>
	            <ul>
	                <a href="/manageMember">
	                    <li class="left_wrap_btn">
	                        <span class="select_btn">회원 목록 관리</span>
	                    </li>
	                </a>
	                <a href="#">
	                    <li class="left_wrap_btn">
	                        <span>징계 회원 리스트</span>
	                    </li>
	                </a>
	                <a href="#">
	                    <li class="left_wrap_btn">
	                        <span>탈퇴 회원 리스트</span>
	                    </li>
	                </a>
	            </ul>
	        </div>
	        <div class="right_wrap" th:with="cpg=${(param.cpg == null or #strings.equals(param.cpg,''))? 1: T(java.lang.Integer).parseInt(param.cpg)}">
	            <p class="right_title">
	                회원 목록 관리
	            </p>
	            <div class="right_list">
	                <ul class="list_header">
	                    <li>
	                        &nbsp;
	                    </li>
	                    <li>
	                        아이디
	                    </li>
	                    <li>
	                        이름
	                    </li>
	                    <li>
	                        가입날짜
	                    </li>
	                </ul>
	                <ul class="list_contents">
	                    <table width="100%">
	                        <tbody>
	                        <tr th:each="member: ${memberList}">
	                            <td valign="top" align="center">
	                                <li th:unless="${member.mem_idx} == 1"><input type="checkbox" th:value="${member.mem_idx}"></li>
	                                <li th:if="${member.mem_idx} == 1"><input type="checkbox" style="background: #6a6a6a" disabled th:value="${member.mem_idx}"></li>
	                                <li style="cursor: pointer;" id="memberId" th:onclick="showMemberInfo([[${member}]])" th:text="${member.mem_id}">
	                                    <!--                                        <a th:text="${member.mem_id}" th:href="@{/getInfoMember(mem_idx=${member.mem_idx})}"></a>-->
	                                </li>
	                                <li th:text="${member.mem_name}"></li>
	                                <li th:text="${member.mem_regDate}"></li>
	                            </td>
	                        </tr>
	                        </tbody>
	                    </table>
	                </ul>
	                <a href="#">
	                    <div class="write_btn" id="uptbtn"style="width: 70px; margin-left: 10px;">
	                        탈퇴
	                    </div>
	                </a>
	                <a href="#">
	                    <div class="write_btn" style="width: 70px; margin-left: 10px;">
	                        정지
	                    </div>
	                </a>
	                <div class="list_pager">
	                    <a th:if="${cpg > 1}" th:href="@{'/manageMember?cpg=1'}"><button class="btn_pager first" type="button">처음</button></a>
	                    <a th:if="${cpg > 1}" th:href="@{'/manageMember?cpg=' + ${cpg - 1}}"><button class="btn_pager prev" type="button">이전</button></a>
	                    <ul>
	                        <th:block th:each="i: ${#numbers.sequence(0, 9)}">
	                            <th:block th:if="${(stpgn + i) <= pages}">
	                                <li>
	                                    <span th:text="${stpgn + i}" th:if="${cpg == (stpgn + i)}" class="on"></span>
	                                    <span th:unless="${cpg == (stpgn + i)}">
	                                        <a th:href="@{/manageMember(cpg=${stpgn+i})}">[[${stpgn + i}]]</a>
	                                    </span>
	                                </li>
	                            </th:block>
	                        </th:block>
	
	                    </ul>
	
	                    <a th:if="${cpg < pages}" th:href="@{'/manageMember?cpg=' + ${cpg + 1}}"><button class="btn_pager next" type="button">다음</button></a>
	                    <a th:if="${cpg < pages}" th:href="@{'/manageMember?cpg='+${pages}}"><button class="btn_pager end" type="button">끝</button></a>
	                </div>
	            </div>
	        </div>
	    </div>
	
<div id="modalForInfo" class="modal">
    <div id="modal-content">
        <h3 style="margin: 0 0 20px 0; color: #FEF1AB;">회원 상세 정보</h3>
        <table class="mypageTable">
            <tbody>
            <tr>
                <th>아이디</th>
                <td><input type="text" id="modalId" disabled="disabled"></td>
            </tr>
            <tr>
                <th>이름</th>
                <td><input type="text" id="modalName"></td>
            </tr>
            <tr>
                <th>닉네임</th>
                <td><input type="text" id="modalNickname"></td>
            </tr>
            <tr>
                <th>이메일</th>
                <td><input type="email" id="modalEmail"></td>
            </tr>
            <tr>
                <th>휴대폰</th>
                <td>
                    <div class="tel-inputs">
                        <input type="tel" maxlength="3" id="modalTel1">
                        <span>-</span>
                        <input type="tel" maxlength="4" id="modalTel2">
                        <span>-</span>
                        <input type="tel" maxlength="4" id="modalTel3">
                    </div>
                </td>
            </tr>
            <tr>
                <th>계정 상태</th>
                <td>
                    <select id="modalStatus">
                        <option value="정상">정상</option>
                        <option value="휴면">휴면</option>
                        <option value="정지">정지</option>
                    </select>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="modalbtn" id="modalbtn">
            <button class="btn-in-modal btn-edit">수정</button>
            <button class="btn-in-modal btn-withdraw">강제 탈퇴</button>
            <button class="btn-in-modal btn-close" id="close-modal">닫기</button>
        </div>
    </div>
</div>
</div>
</th:block>

<th:block layout:fragment="myscript">
	<script type="text/javascript">
	    var modalId = document.getElementById("modalId");
	    var modalName = document.getElementById("modalName");
	    var modalNickname = document.getElementById("modalNickname");
	    var modalEmail = document.getElementById("modalEmail");
	    var modalTel1 = document.getElementById("modalTel1");
	    var modalTel2 = document.getElementById("modalTel2");
	    var modalTel3 = document.getElementById("modalTel3");
	    var modelForInfo = document.getElementById("modalForInfo");
	    var closeModal = document.getElementById("close-modal");
	
	    window.onload = modelForInfo.style.display = 'none';
	
	    closeModal.addEventListener("click", function (){
	        modelForInfo.style.display = 'none'
	    })
	
	    function showMemberInfo(data){
	        modalId.value = data.mem_id;
	        modalName.value = data.mem_name;
	        modalNickname.value = data.mem_aka;
	        modalEmail.value = data.mem_email;
	        modalTel1.value = data.mem_tel.substr(0, 3);
	        if(data.mem_tel.length == 11){ // 11자 휴대폰 번호 (010 - XXXX - XXXX)
	            modalTel2.value = data.mem_tel.substr(3, 4);
	            modalTel3.value = data.mem_tel.substr(7, 4);
	        } else if(data.mem_tel.length == 10) { // 10자 휴대폰 번호 (01X - XXX - XXXX)
	            modalTel2.value = data.mem_tel.substr(3, 3);
	            modalTel3.value = data.mem_tel.substr(6, 4);
	        }
	        modelForInfo.style.display = 'block';
	    }
	</script>
</th:block>
</body>
</html>