<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="admin">
    <select id="adminLogin" statementType="PREPARED"
            parameterType="kr.co.ticatcher.vo.AdminVO"
            resultType="kr.co.ticatcher.vo.AdminVO">
        select * from tcc_admin where admin_id = #{admin_id} and admin_pw = #{admin_pw}
    </select>
    <select id="readCountPost" statementType="PREPARED"
            parameterType="String"
            resultType="int">
        select ceil(count(board_conidx)/10) pages from tcc_board where board_config=#{board_config}
    </select>
    <select id="readPost" statementType="PREPARED"
            parameterType="Map"
            resultType="kr.co.ticatcher.vo.BoardVO">
        select 
        	board_idx, 
        	board_conidx, 
        	board_name, 
        	date_format(board_regdate, '%Y-%m-%d') as board_regdate
        from 
        	tcc_board 
        where 
        	board_config = #{board_config}
        order by board_conidx desc limit #{snum}, 10
    </select>
    <select id="readOnePost" statementType="PREPARED"
            parameterType="String"
            resultType="kr.co.ticatcher.vo.BoardVO">
        select * from tcc_board where board_idx = #{board_idx}
    </select>
    <insert id="registerPost" statementType="PREPARED"
            parameterType="kr.co.ticatcher.vo.BoardVO">
        insert into tcc_board (board_config, board_conidx, board_name, board_contents, board_attachName, board_attachPath, mem_idx) values (#{board_config}, #{board_conidx}, #{board_name}, #{board_contents}, #{board_attachName}, #{board_attachPath}, #{mem_idx})
    </insert>
    <select id="countConidx" statementType="PREPARED"
            parameterType="String"
            resultType="int">
        select max(board_conidx) from tcc_board where board_config=#{board_config}
    </select>
    <delete id="deletePost" statementType="PREPARED"
            parameterType="String">
        delete from tcc_board where board_idx = #{board_idx}
    </delete>
    <update id="modifyPost" statementType="PREPARED"
            parameterType="kr.co.ticatcher.vo.BoardVO">
        update tcc_board set board_name = #{board_name}, board_contents = #{board_contents} 
        <if test="board_attachPath != null">
	        , board_attachName = #{board_attachName}, 
	        board_attachPath = #{board_attachPath}
        </if>
         where board_idx = #{board_idx}
    </update>
    <select id="readQNA" statementType="PREPARED"
            parameterType="Map"
            resultType="kr.co.ticatcher.vo.QnaVO">
        select * from tcc_qna order by qna_idx desc limit #{snum}, 10
    </select>
    <select id="readCountQNA" statementType="PREPARED"
            resultType="int">
        select ceil(count(qna_memidx)/10) pages from tcc_qna
    </select>
    <select id="readOneQNA" statementType="PREPARED"
            parameterType="String"
            resultType="kr.co.ticatcher.vo.QnaVO">
        select * from tcc_qna where qna_idx = #{qna_idx}
    </select>
    <update id="answerQNA" statementType="PREPARED"
            parameterType="kr.co.ticatcher.vo.QnaVO">
        update tcc_qna set qna_answer = #{qna_answer} where qna_idx = #{qna_idx}
    </update>
    <select id="countIndexFromQna" statementType="PREPARED"
            parameterType="String"
            resultType="int">
        select count(*) from tcc_qna where qna_idx >= (select qna_idx FROM tcc_qna where qna_idx = #{qna_idx})
    </select>
    <select id="readCountStage" statementType="PREPARED" parameterType="Map" resultType="int">
        select
			ceil(count(stage_idx)/ 10) pages
		from
			tcc_stage
			<if test="keyword != ''">
				where 
				${searchType} like concat('%', #{keyword}, '%')
			</if>
    </select>
    <select id="readStage" statementType="PREPARED" parameterType="Map" resultType="kr.co.ticatcher.vo.StageVO">
		select
			@rownum := @rownum + 1 as rownum,
			ta.*
		from
			(
			select
				tst.stage_idx,
				tst.stage_name,
				tst.stage_grade,
				tst.stage_runtime,
				tst.stage_host,
				tst.stage_posterName,
				tst.stage_posterPath,
				tst.stage_imgInfoName,
				tst.stage_imgInfoPath,
				tst.stage_info,
				tst.theater_idx,
				case
					when (
					select
						COUNT(*)
					from
						tcc_schedule ts
					where
						ts.stage_idx = tst.stage_idx) > 0 then 'Y'
					else 'N'
				end as schedule_yn
			from
				tcc_stage tst
				<if test="keyword != ''">
					where 
						${searchType} like concat('%', #{keyword}, '%')
				</if>
			order by
				stage_idx desc) ta,
			(
			select
				@rownum := #{snum}) r
		order by
			stage_idx desc
		limit #{snum}, 10
    </select>
    <select id="readCountMember" statementType="PREPARED"
            resultType="int">
        select ceil(count(mem_idx)/10) pages from tcc_member where mem_del_yn = 'N' 
    </select>
    <select id="readMember" statementType="PREPARED"
            parameterType="int"
            resultType="kr.co.ticatcher.vo.MemberVO">
        select * from tcc_member where mem_del_yn = 'N' order by mem_idx desc limit #{snum}, 10
    </select>
    
	<insert id="insertSchedule" parameterType="kr.co.ticatcher.vo.ScheduleVO" 
            useGeneratedKeys="true" keyProperty="schedule_idx">
        INSERT INTO tcc_schedule (
            schedule_date, 
            schedule_time, 
            stage_idx
        ) VALUES (
            #{schedule_date}, 
            #{schedule_time}, 
            #{stage_idx}
        )
    </insert>

    <insert id="insertPrice" parameterType="kr.co.ticatcher.vo.PriceVO">
        INSERT INTO tcc_price (
            schedule_idx, 
            price_name, 
            price_price
        ) VALUES (
            #{schedule_idx}, 
            #{price_name}, 
            #{price_price}
        )
    </insert>
    
	<delete id="deletePriceByStageIdx" parameterType="long">
        DELETE FROM tcc_price 
        WHERE schedule_idx IN (
            SELECT schedule_idx FROM tcc_schedule WHERE stage_idx = #{stage_idx}
        )
    </delete>

 	<delete id="deleteScheduleByStageIdx" parameterType="long">
        DELETE FROM tcc_schedule WHERE stage_idx = #{stage_idx}
    </delete>
    
    <select id="selectFullScheduleByStageIdx" parameterType="long" resultType="map">
        SELECT 
            DATE_FORMAT(s.schedule_date, '%Y-%m-%d') as date,
            DATE_FORMAT(s.schedule_time, '%H:%i') as time,
            p.price_name,
            p.price_price
        FROM tcc_schedule s
        LEFT JOIN tcc_price p ON s.schedule_idx = p.schedule_idx
        WHERE s.stage_idx = #{stage_idx}
        ORDER BY s.schedule_date ASC, s.schedule_time ASC
    </select>
    
    <insert id="insertPriceBatch" parameterType="java.util.List">
        INSERT INTO tcc_price (
            schedule_idx, 
            price_name, 
            price_price
        ) VALUES 
        <foreach collection="list" item="item" separator=",">
            (
                #{item.schedule_idx}, 
                #{item.price_name}, 
                #{item.price_price}
            )
        </foreach>
    </insert>
    
    
    <select id="readCountDeleteMember" statementType="PREPARED"
            resultType="int">
        select ceil(count(mem_idx)/10) pages from tcc_member where mem_del_yn = 'Y' 
    </select>
    <select id="readDeleteMember" statementType="PREPARED"
            parameterType="int"
            resultType="kr.co.ticatcher.vo.MemberVO">
        select * from tcc_member where mem_del_yn = 'Y' order by mem_idx desc limit #{snum}, 10
    </select>
    
    <select id="readCountAdminAccount" resultType="int" parameterType="Map">
		select
			ceil(count(admin_idx)/ 10) pages
		from
			tcc_admin
		<if test='fval != ""'>
			where 
				${fkey} like concat ('%',#{fval},'%') 
		</if> 
    </select>
    
    <select id="readAdminAccount" resultType="Map" parameterType="Map">
		select
			*
		from
			tcc_admin
		<if test='fval != ""'>
			where 
				${fkey} like concat ('%',#{fval},'%')
		</if> 
		order by
			admin_idx desc
		limit #{snum}, 10
    </select>
    
    <insert id="insertAdmin" parameterType="Map">
		insert into tcc_admin(
			admin_id , 
			admin_pw , 
			admin_tel , 
			admin_name , 
			admin_grade , 
			admin_email 
		) values (
			#{adminId} , 
			'ticatcher1234!' , 
			#{adminTel} , 
			#{adminName} , 
			#{adminGrade} , 
			#{adminEmail}
		)
    </insert>
    
    <update id="updateAdmin" parameterType="Map">
    	UPDATE 
    		TCC_ADMIN 
    	SET 
    		ADMIN_TEL = #{adminTel} ,
    		ADMIN_NAME = #{adminName} , 
    		ADMIN_GRADE = #{adminGrade} , 
    		ADMIN_EMAIL = #{adminEmail} 
    	WHERE 
    		ADMIN_ID = #{adminId} 
    </update>
    
    <delete id="deleteAdmin" parameterType="java.util.List">
		DELETE FROM TCC_ADMIN WHERE ADMIN_ID IN 
 		<foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    
    <update id="resetPwd" parameterType="String">
		update
			tcc_admin 
		set
			admin_pw = 'ticatcher1234!'
		where
			admin_id = #{admin_id} 
    </update>
    
    <select id="selectCountTheater" statementType="PREPARED" resultType="int">
    	select ceil(count(theater_idx )/ 10) pages from tcc_theater
    </select>
    
    <select id="selectTheaterList" statementType="PREPARED" parameterType="int" resultType="Map">
		select * from tcc_theater order by theater_idx desc limit #{snum}, 10
    </select>

</mapper>