<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board">
    <select id="selectNoticeBoard" statementType="PREPARED"
            parameterType="Map"
            resultType="kr.co.ticatcher.vo.BoardVO">
        select 
        	board_idx, 
        	board_conidx, 
        	board_name, 
        	date_format(board_regdate, '%Y-%m-%d') as board_regdate
        from 
        	tcc_board 
        where 
        	board_config='A'
        order by 
        	board_conidx desc 
        	limit #{snum}, 10
    </select>

    <select id="selectCountNoticeBoard" statementType="PREPARED"
                parameterType="Map"
                resultType="int">
        select ceil(count(board_conidx)/10) pages from tcc_board where board_config='A' <if test="fkey != ''"> and ${fkey} like #{fval} </if>
    </select>
    <select id="selectFAQBoard" statementType="PREPARED"
            parameterType="Map"
            resultType="kr.co.ticatcher.vo.BoardVO">
        select board_idx, board_conidx, board_name, board_regdate from tcc_board where board_config='B'
        order by board_conidx desc limit #{snum}, 10
    </select>

    <select id="selectCountFAQBoard" statementType="PREPARED"
            parameterType="Map"
            resultType="int">
        select ceil(count(board_conidx)/10) pages from tcc_board where board_config='B' <if test="fkey != ''"> and ${fkey} like #{fval} </if>
    </select>

    <update id="viewBoard" statementType="PREPARED"
            parameterType="String">
        update tcc_board set board_readcount = board_readcount + 1 where board_idx = #{board_idx}
    </update>

    <select id="selectOneBoard" statementType="PREPARED"
            parameterType="String"
            resultType="kr.co.ticatcher.vo.BoardVO">
        select
			board_idx ,
			board_config ,
			board_conidx ,
			board_name ,
			board_contents ,
			board_attachName ,
			board_attachPath ,
			date_format(board_regdate, '%Y-%m-%d') as board_regdate , 
			board_readcount , 
			mem_idx
		from
			tcc_board
		where
			board_idx = #{board_idx} 
    </select>
    <insert id="registerQnaPost" statementType="PREPARED"
            parameterType="kr.co.ticatcher.vo.QnaVO">
        insert into tcc_qna (qna_memidx, qna_name, qna_contents, qna_attachName, qna_attachPath, mem_idx) values (#{qna_memidx}, #{qna_name}, #{qna_contents}, #{qna_attachName}, #{qna_attachPath}, #{mem_idx})
    </insert>
    <select id="selectMyQna" statementType="PREPARED"
            parameterType="Map"
            resultType="kr.co.ticatcher.vo.QnaVO">
        select * from tcc_qna where mem_idx=#{mem_idx}
        order by qna_memidx desc limit #{snum}, 10
    </select>
    <select id="selectCountMyQna" statementType="PREPARED"
            parameterType="long"
            resultType="int">
        select ceil(count(qna_memidx)/10) pages from tcc_qna where mem_idx=#{mem_idx}
    </select>
    <select id="readOneQna" statementType="PREPARED"
            parameterType="long"
            resultType="kr.co.ticatcher.vo.QnaVO">
        select * from tcc_qna where qna_idx = #{qna_idx}
    </select>
    <select id="countMemidx" statementType="PREPARED"
            parameterType="long"
            resultType="int">
        select max(qna_memidx) from tcc_qna where mem_idx=#{mem_idx}
    </select>
<select id="selectCountCommunityBoard" statementType="PREPARED" parameterType="Map" resultType="int">
        select 
        	ceil(count(board_conidx)/10) pages 
        from 
        	tcc_board 
        where 
        	board_config = #{board_config} 
        	<if test="fkey != '' and fkey != null">
                <choose>
                    <when test="fkey == 'mem_name'">
                        AND EXISTS (
                            SELECT 1 
                            FROM tcc_member tm 
                            WHERE tm.mem_idx = tcc_board.mem_idx 
                            AND tm.mem_aka like concat ('%',#{fval},'%')
                        )
                    </when>
                    <otherwise>
        		        and ${fkey} like concat ('%',#{fval},'%')
                    </otherwise>
                </choose>
        	</if>
    </select>

    <select id="selectCommunityBoard" statementType="PREPARED" parameterType="Map" resultType="kr.co.ticatcher.vo.BoardVO">
    	select 
    		@rownum := @rownum + 1 as rownum, 
    		ta.* from 
    		(
	        select 
	        	tb.board_idx , 
	        	tb.board_conidx , 
	        	tb.board_name , 
	        	date_format(tb.board_regdate, '%Y-%m-%d') as board_regdate , 
	        	tb.board_readcount ,  
                (select mem_aka from tcc_member tm where tm.mem_idx = tb.mem_idx) as mem_name , 
	        	(select count(comment_idx) from tcc_comment tc where tc.board_idx = tb.board_idx) as comment_count 
	        from 
	        	tcc_board tb
	        where 
	        	tb.board_config = #{board_config} 
	        	<if test="fkey != '' and fkey != null">
                    <choose>
                        <when test="fkey == 'mem_name'">
                             AND EXISTS (
                                SELECT 1 
                                FROM tcc_member tm 
                                WHERE tm.mem_idx = tb.mem_idx 
                                AND tm.mem_aka like concat('%',#{fval},'%')
                             )
                        </when>
                        <otherwise>
        		             and tb.${fkey} like concat('%',#{fval},'%') 
                        </otherwise>
                    </choose>
	        	</if>
	        ) ta, 
	        (
	        	select 
	        		@rownum := #{snum} 
	        ) r
		order by 
	    	board_conidx desc 
        limit #{snum}, 10
    </select>
    
    <select id="selectCommentByBoardIdx" statementType="PREPARED" parameterType="String" resultType="Map">
		select
			tc.comment_idx, 
			tc.comment_content, 
			tc.board_idx, 
			tc.mem_idx, 
			(select mem_aka from tcc_member tm where tm.mem_idx = tc.mem_idx ) as mem_name, 
			date_format(tc.comment_regdate, '%Y-%m-%d %H:%i:%s') as comment_regdate 
		from
			tcc_comment tc
		where
			tc.board_idx = #{board_idx} 
		order by
			tc.comment_regdate desc
    </select> 
    
    <insert id="insertComment" statementType="PREPARED" parameterType="Map">
		insert into tcc_comment (
		    comment_content, 
		    board_idx, 
		    mem_idx
		) values (
		    #{comment_content}, 
		    #{board_idx}, 
		    #{mem_idx}
		)
    </insert>

	<delete id="deleteCommentByCommentIdx" statementType="PREPARED" parameterType="Map">
		delete from tcc_comment where comment_idx = #{comment_idx} 
	</delete>
	
	<delete id="deletePost" statementType="PREPARED" parameterType="Map">
		delete from tcc_board where board_idx = #{board_idx}
	</delete>
	
	<delete id="deleteCommentByBoardIdx" statementType="PREPARED" parameterType="Map">
		delete from tcc_comment where board_idx = #{board_idx}
	</delete>
	
</mapper>