<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="index">
    <select id="getAllScheduleOrderByDateDesc" statementType="PREPARED"
            resultType="co.kr.ticatcher.vo.ScheduleVO">
        select * from tcc_schedule order by schedule_date desc
    </select>

    <select id="getCheapOfSchedule" statementType="PREPARED"
            parameterType="long"
            resultType="co.kr.ticatcher.vo.PriceVO">
        select * from tcc_price where schedule_idx = #{schedule_idx} order by price_price asc limit 1
    </select>
</mapper>
