<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="stage">
    <select id="getStageInfo" statementType="PREPARED"
            parameterType="String"
            resultType="co.kr.ticatcher.vo.StageInfoVO">
        select * from tcc_stageinfo where stageinfo_idx = #{stageinfo_idx}
    </select>
    <select id="finStageByStageIdx" statementType="PREPARED"
            parameterType="long"
            resultType="co.kr.ticatcher.vo.StageVO">
        select * from tcc_stage where stage_idx = #{stage_idx}
    </select>
</mapper>