<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="stage">
    <select id="getStageByIdx" statementType="PREPARED" parameterType="long" resultType="kr.co.ticatcher.vo.StageVO">
        select
			stage_idx,
			stage_name,
			stage_grade,
			stage_runtime,
			stage_host,
			stage_posterName,
			stage_posterPath,
			stage_imgInfoName,
			stage_imgInfoPath,
			stage_info,
			theater_idx,
			(
			select
				theater_name
			from
				tcc_theater tt
			where
				tt.theater_idx = ts.theater_idx ) as theater_name
		from
			tcc_stage ts
		where
			stage_idx = #{stage_idx}
    </select>
    <select id="getAllScheduleByStageIdx" statementType="PREPARED"
            parameterType="long"
            resultType="kr.co.ticatcher.vo.ScheduleVO">
        select * from tcc_schedule where stage_idx = #{stage_idx}
    </select>
    <select id="getAllTheaterByTheaterIdx" statementType="PREPARED"
            parameterType="long"
            resultType="kr.co.ticatcher.vo.TheaterVO">
        select * from tcc_theater where theater_idx = #{theater_idx}
    </select>
    <select id="getAllPriceBySchedule" statementType="PREPARED"
            parameterType="long"
            resultType="kr.co.ticatcher.vo.PriceVO">
        select * from tcc_price where schedule_idx = #{schedule_idx}
    </select>
    <insert id="saveStage" statementType="PREPARED"
            parameterType="kr.co.ticatcher.vo.StageVO">
        insert into tcc_stage (
            stage_idx,
            stage_name,
            stage_grade,
            stage_runtime,
            stage_host,
            stage_posterName,
            stage_posterPath,
            stage_imgInfoName,
            stage_imgInfoPath,
            stage_info,
            theater_idx
        ) values (
            #{stage_idx},
            #{stage_name},
            #{stage_grade},
            #{stage_runtime},
            #{stage_host},
            #{stage_posterName},
            #{stage_posterPath},
            #{stage_imgInfoName},
            #{stage_imgInfoPath},
            #{stage_info},
            #{theater_idx}
        )
    </insert>

    <select id="seleteTheaters" statementType="PREPARED" resultType="map">
        select
            theater_idx as id,
            theater_name as name
        from
            tcc_theater
    </select>
</mapper>
