<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<th:block layout:fragment="main">
<div class="container">
    <div class="play_chart">
        <div class="contents">
            <div class="play_swiper slider">
                <div class="chart_text"
                     style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;">
                    <div class="select_chart" style="display: inline-flex;">
                        <h3>인기순</h3>
                        <h3 class="txt_div">|</h3>
                        <h3>평점순</h3>
                    </div>
                    <a href="" style="font-size: 14px;">전체보기 ></a>
                </div>
                <div class="chart-list" style="margin-left: 10px;">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                        <tr>
                            <td valign="top" align="center">
                                <a href="/payment">
                                    <table cellspacing="0" width="220" style="margin-bottom: 30px;">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <div>
                                                    <img src="https://timeticket.co.kr/wys2/file_attach_thumb/2022/01/27/1643271898-98-0_wonbon_N_7_226x316_90_2.jpg"
                                                         alt="공연 썸네일"
                                                         style="border-radius: 10px; margin-bottom: 5px; width: 100%">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>한 뼘 사이</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="show_info">
                                                    <div class="show_info_left">
                                                                    <span>
                                                                        <img src="static/img/ico_star2.png" alt="별점">
                                                                        <span>(4.9)</span>
                                                                    </span>
                                                    </div>
                                                    <div class="show_info_right">
                                                        <strong class="highlight">72%</strong>
                                                        <span>13,900원</span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </a>
                            </td>
                            <td valign="top" align="center">
                                <a href="">
                                    <table cellspacing="0" width="220" style="margin-bottom: 30px;">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <div>
                                                    <img src="https://timeticket.co.kr/wys2/file_attach_thumb/2023/03/03/1677837413-40-0_wonbon_N_7_250x350_90_2.jpg"
                                                         alt="공연 썸네일"
                                                         style="border-radius: 10px; margin-bottom: 5px; width: 100%">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>쉬어매드니스</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="show_info">
                                                    <div class="show_info_left">
                                                                    <span>
                                                                        <img src="static/img/ico_star2.png" alt="별점">
                                                                        <span>(4.7)</span>
                                                                    </span>
                                                    </div>
                                                    <div class="show_info_right">
                                                        <strong class="highlight">67%</strong>
                                                        <span>11,400원</span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </a>
                            </td>
                            <td valign="top" align="center">
                                <a href="">
                                    <table cellspacing="0" width="220" style="margin-bottom: 30px;">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <div>
                                                    <img src="https://timeticket.co.kr/wys2/file_attach_thumb/2021/05/21/1621556311-33-0_wonbon_N_7_250x350_90_2.jpg"
                                                         alt="공연 썸네일"
                                                         style="border-radius: 10px; margin-bottom: 5px; width: 100%">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>라면</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="show_info">
                                                    <div class="show_info_left">
                                                                    <span>
                                                                        <img src="static/img/ico_star2.png" alt="별점">
                                                                        <span>(4.8)</span>
                                                                    </span>
                                                    </div>
                                                    <div class="show_info_right">
                                                        <strong class="highlight">68%</strong>
                                                        <span>15,800원</span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </a>
                            </td>
                            <td valign="top" align="center">
                                <a href="">
                                    <table cellspacing="0" width="220" style="margin-bottom: 30px;">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <div>
                                                    <img src="https://timeticket.co.kr/wys2/file_attach_thumb/2021/05/21/1621549384-67-0_wonbon_N_7_250x350_90_2.jpg"
                                                         alt="공연 썸네일"
                                                         style="border-radius: 10px; margin-bottom: 5px; width: 100%">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>옥탑방 고양이</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="show_info">
                                                    <div class="show_info_left">
                                                                    <span>
                                                                        <img src="static/img/ico_star2.png" alt="별점">
                                                                        <span>(4.9)</span>
                                                                    </span>
                                                    </div>
                                                    <div class="show_info_right">
                                                        <strong class="highlight">76%</strong>
                                                        <span>8,500원</span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </a>
                            </td>
                        </tr>
                        <!-- <td valign="top" align="center" class="show_box">
                            <a href="">
                                <table cellspacing="0" width="220" style="margin-bottom: 30px;">
                                    <tbody>
                                        <tr>
                                            <div>
                                                <img src="https://timeticket.co.kr/wys2/file_attach_thumb/2022/10/31/1667178239-10-0_wonbon_N_7_226x316_90_2.jpg"
                                                    alt="공연 썸네일"
                                                    style="border-radius: 10px; margin-bottom: 5px;">
                                            </div>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>러브액츄얼리</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="show_info">
                                                    <div class="show_info_left">
                                                        <span>
                                                            <img src="static/img/ico_star2.png" alt="별점">
                                                            <span>(2)</span>
                                                        </span>
                                                    </div>
                                                    <div class="show_info_right">
                                                        <strong class="highlight">80%</strong>
                                                        <span>7,000원</span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </a>
                        </td>
                        <td valign="top" align="center" class="show_box">
                            <a href="">
                                <table cellspacing="0" width="220" style="margin-bottom: 30px;">
                                    <tbody>
                                        <tr>
                                            <div>
                                                <img src="https://timeticket.co.kr/wys2/file_attach_thumb/2022/10/31/1667178239-10-0_wonbon_N_7_226x316_90_2.jpg"
                                                    alt="공연 썸네일"
                                                    style="border-radius: 10px; margin-bottom: 5px;">
                                            </div>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>러브액츄얼리</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="show_info">
                                                    <div class="show_info_left">
                                                        <span>
                                                            <img src="static/img/ico_star2.png" alt="별점">
                                                            <span>(2)</span>
                                                        </span>
                                                    </div>
                                                    <div class="show_info_right">
                                                        <strong class="highlight">80%</strong>
                                                        <span>7,000원</span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </a>
                        </td>
                        <td valign="top" align="center" class="show_box">
                            <a href="">
                                <table cellspacing="0" width="220" style="margin-bottom: 30px;">
                                    <tbody>
                                        <tr>
                                            <div>
                                                <img src="https://timeticket.co.kr/wys2/file_attach_thumb/2022/10/31/1667178239-10-0_wonbon_N_7_226x316_90_2.jpg"
                                                    alt="공연 썸네일"
                                                    style="border-radius: 10px; margin-bottom: 5px;">
                                            </div>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>러브액츄얼리</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="show_info">
                                                    <div class="show_info_left">
                                                        <span>
                                                            <img src="static/img/ico_star2.png" alt="별점">
                                                            <span>(2)</span>
                                                        </span>
                                                    </div>
                                                    <div class="show_info_right">
                                                        <strong class="highlight">80%</strong>
                                                        <span>7,000원</span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </a>
                        </td>
                        <td valign="top" align="center" class="show_box">
                            <a href="">
                                <table cellspacing="0" width="220" style="margin-bottom: 30px;">
                                    <tbody>
                                        <tr>
                                            <div>
                                                <img src="https://timeticket.co.kr/wys2/file_attach_thumb/2022/10/31/1667178239-10-0_wonbon_N_7_226x316_90_2.jpg"
                                                    alt="공연 썸네일"
                                                    style="border-radius: 10px; margin-bottom: 5px;">
                                            </div>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>러브액츄얼리</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="show_info">
                                                    <div class="show_info_left">
                                                        <span>
                                                            <img src="static/img/ico_star2.png" alt="별점">
                                                            <span>(2)</span>
                                                        </span>
                                                    </div>
                                                    <div class="show_info_right">
                                                        <strong class="highlight">80%</strong>
                                                        <span>7,000원</span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </a>
                        </td> -->

                        </tbody>
                    </table>
                </div>
                <!-- <div class="sliders">
                    <img src="https://via.placeholder.com/170x234/00ff11/?text=play1" alt=""
                        style="position:absolute; margin-left: 30px; border-radius: 20px;">
                    <img src="https://via.placeholder.com/170x234/ffff01/?text=play2" alt=""
                        style="position:absolute; margin-left: 30px; border-radius: 20px;">
                    <img src="https://via.placeholder.com/170x234/55ff11/?text=play3" alt=""
                        style="position:absolute; margin-left: 30px; border-radius: 20px;">
                    <img src="https://via.placeholder.com/170x234/ff0011/?text=play4" alt=""
                        style="position:absolute; margin-left: 30px; border-radius: 20px;">
                </div> -->
            </div>
        </div>
    </div>
</div>
</th:block>
<th:block layout:fragment="myscript">
</th:block>
</html>






<!--<!DOCTYPE html>-->
<!--<html xmlns:th = "http://www.thymeleaf.org">-->

<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Ticatcher</title>-->
<!--    &lt;!&ndash; 구글 웹폰트 &ndash;&gt;-->
<!--    <link-->
<!--            href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&family=Noto+Serif:ital,wght@0,400;0,700;1,400&display=swap"-->
<!--            rel="stylesheet">-->
<!--    &lt;!&ndash; bx slider css &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">-->
<!--    &lt;!&ndash; 스타일시트 &ndash;&gt;-->
<!--    <link rel="stylesheet" href="static/css/reset.css">-->
<!--    <link rel="stylesheet" href="static/css/style.css">-->
<!--    &lt;!&ndash; 제이쿼리 &ndash;&gt;-->
<!--    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>-->
<!--    &lt;!&ndash; bx slider &ndash;&gt;-->
<!--    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>-->
<!--    &lt;!&ndash; images loded &ndash;&gt;-->
<!--    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>-->
<!--    &lt;!&ndash; 외부 스크립트 &ndash;&gt;-->
<!--    <script src="static/js/main.js"></script>-->
<!--</head>-->

<!--<body>-->
<!--<div class="header">-->
<!--    <div class="header_content">-->
<!--        <img src="static/img/neon_1.png" alt="네온led배경">-->
<!--        <div class="content">-->
<!--            <h1>-->
<!--                <a href="/">-->
<!--                    <img class="logo" src="static/img/logo.png" alt="로고">-->
<!--                </a>-->
<!--            </h1>-->
<!--            <ul class="lnb">-->
<!--                <li th:if="${session.m}==null">-->
<!--                    <a href = "/login">로그인</a>-->
<!--                </li>-->
<!--                <li th:unless="${session.m}==null">-->
<!--                    <a href = "#" id = "btnlogout">로그아웃</a>-->
<!--                </li>-->
<!--                <li th:if="${session.m}==null">-->
<!--                    <a href="/joinready">회원가입</a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="/mypage">MyPage</a></li>-->
<!--                <li>-->
<!--                    <a href="/cs/notice">고객센터</a></li>-->
<!--                <li th:unless="${session.m}==null">-->
<!--                    <p style="font-size: 14px;display: inline;"><a href="#"><span style="color: wheat; font-weight: bold;" th:text="${session.m.mem_aka}" /></a>님 반갑습니다.</p>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="gnb">-->
<!--        <div class="gnb_contents">-->
<!--            <ul class="gnb_menu">-->
<!--                <li>-->
<!--                    <a href="/">-->
<!--                        <span class="menu_span">공연</span>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="/">-->
<!--                        <span class="menu_span">이벤트</span>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="/">-->
<!--                        <span class="menu_span">커뮤니티</span>-->
<!--                    </a>-->
<!--                    <div class="gnb_menu_sub_wrap">-->
<!--                        <ul class="gnb_menu_sub">-->
<!--                            <li><a href="/">자유게시판</a></li>-->
<!--                            <li><a href="/">극단원 모집</a></li>-->
<!--                            <li><a href="/">오디션 정보</a></li>-->
<!--                            <li><a href="/">새 공연 소식</a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="/">-->
<!--                        <span class="menu_span">공지사항</span>-->
<!--                    </a>-->
<!--                </li>-->
<!--            </ul>-->
<!--            <div class="search_box">-->
<!--                <input type="text" placeholder="찾으실 공연을 입력해주세요.">-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--<div class="container">-->
<!--    <div class="play_chart">-->
<!--        <div class="contents">-->
<!--            <div class="play_swiper slider">-->
<!--                <div class="chart_text"-->
<!--                     style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;">-->
<!--                    <div class="select_chart" style="display: inline-flex;">-->
<!--                        <h3>인기순</h3>-->
<!--                        <h3 class="txt_div">|</h3>-->
<!--                        <h3>평점순</h3>-->
<!--                    </div>-->
<!--                    <a href="" style="font-size: 14px;">전체보기 ></a>-->
<!--                </div>-->
<!--                <div class="chart-list" style="margin-left: 10px;">-->
<!--                    <table width="100%" border="0" cellpadding="0" cellspacing="0">-->
<!--                        <tbody>-->
<!--                        <tr>-->
<!--                            <td valign="top" align="center">-->
<!--                                <a href="">-->
<!--                                    <table cellspacing="0" width="220" style="margin-bottom: 30px;">-->
<!--                                        <tbody>-->
<!--                                        <tr>-->
<!--                                            <td>-->
<!--                                                <div>-->
<!--                                                    <img src="https://timeticket.co.kr/wys2/file_attach_thumb/2022/01/27/1643271898-98-0_wonbon_N_7_226x316_90_2.jpg"-->
<!--                                                         alt="공연 썸네일"-->
<!--                                                         style="border-radius: 10px; margin-bottom: 5px;">-->
<!--                                                </div>-->
<!--                                            </td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td>-->
<!--                                                <strong>한 뼘 사이</strong>-->
<!--                                            </td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td>-->
<!--                                                <div class="show_info">-->
<!--                                                    <div class="show_info_left">-->
<!--                                                                    <span>-->
<!--                                                                        <img src="static/img/ico_star2.png" alt="별점">-->
<!--                                                                        <span>(2)</span>-->
<!--                                                                    </span>-->
<!--                                                    </div>-->
<!--                                                    <div class="show_info_right">-->
<!--                                                        <strong class="highlight">80%</strong>-->
<!--                                                        <span>7,000원</span>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </td>-->
<!--                                        </tr>-->
<!--                                        </tbody>-->
<!--                                    </table>-->
<!--                                </a>-->
<!--                            </td>-->
<!--                            <td valign="top" align="center">-->
<!--                                <a href="">-->
<!--                                    <table cellspacing="0" width="220" style="margin-bottom: 30px;">-->
<!--                                        <tbody>-->
<!--                                        <tr>-->
<!--                                            <td>-->
<!--                                                <div>-->
<!--                                                    <img src="https://timeticket.co.kr/wys2/file_attach_thumb/2022/10/31/1667178239-10-0_wonbon_N_7_226x316_90_2.jpg"-->
<!--                                                         alt="공연 썸네일"-->
<!--                                                         style="border-radius: 10px; margin-bottom: 5px;">-->
<!--                                                </div>-->
<!--                                            </td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td>-->
<!--                                                <strong>러브액츄얼리</strong>-->
<!--                                            </td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td>-->
<!--                                                <div class="show_info">-->
<!--                                                    <div class="show_info_left">-->
<!--                                                                    <span>-->
<!--                                                                        <img src="static/img/ico_star2.png" alt="별점">-->
<!--                                                                        <span>(2)</span>-->
<!--                                                                    </span>-->
<!--                                                    </div>-->
<!--                                                    <div class="show_info_right">-->
<!--                                                        <strong class="highlight">80%</strong>-->
<!--                                                        <span>7,000원</span>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </td>-->
<!--                                        </tr>-->
<!--                                        </tbody>-->
<!--                                    </table>-->
<!--                                </a>-->
<!--                            </td>-->
<!--                            <td valign="top" align="center">-->
<!--                                <a href="">-->
<!--                                    <table cellspacing="0" width="220" style="margin-bottom: 30px;">-->
<!--                                        <tbody>-->
<!--                                        <tr>-->
<!--                                            <td>-->
<!--                                                <div>-->
<!--                                                    <img src="https://timeticket.co.kr/wys2/file_attach_thumb/2022/10/31/1667178239-10-0_wonbon_N_7_226x316_90_2.jpg"-->
<!--                                                         alt="공연 썸네일"-->
<!--                                                         style="border-radius: 10px; margin-bottom: 5px;">-->
<!--                                                </div>-->
<!--                                            </td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td>-->
<!--                                                <strong>러브액츄얼리</strong>-->
<!--                                            </td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td>-->
<!--                                                <div class="show_info">-->
<!--                                                    <div class="show_info_left">-->
<!--                                                                    <span>-->
<!--                                                                        <img src="static/img/ico_star2.png" alt="별점">-->
<!--                                                                        <span>(2)</span>-->
<!--                                                                    </span>-->
<!--                                                    </div>-->
<!--                                                    <div class="show_info_right">-->
<!--                                                        <strong class="highlight">80%</strong>-->
<!--                                                        <span>7,000원</span>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </td>-->
<!--                                        </tr>-->
<!--                                        </tbody>-->
<!--                                    </table>-->
<!--                                </a>-->
<!--                            </td>-->
<!--                            <td valign="top" align="center">-->
<!--                                <a href="">-->
<!--                                    <table cellspacing="0" width="220" style="margin-bottom: 30px;">-->
<!--                                        <tbody>-->
<!--                                        <tr>-->
<!--                                            <td>-->
<!--                                                <div>-->
<!--                                                    <img src="https://timeticket.co.kr/wys2/file_attach_thumb/2022/10/31/1667178239-10-0_wonbon_N_7_226x316_90_2.jpg"-->
<!--                                                         alt="공연 썸네일"-->
<!--                                                         style="border-radius: 10px; margin-bottom: 5px;">-->
<!--                                                </div>-->
<!--                                            </td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td>-->
<!--                                                <strong>러브액츄얼리</strong>-->
<!--                                            </td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td>-->
<!--                                                <div class="show_info">-->
<!--                                                    <div class="show_info_left">-->
<!--                                                                    <span>-->
<!--                                                                        <img src="static/img/ico_star2.png" alt="별점">-->
<!--                                                                        <span>(2)</span>-->
<!--                                                                    </span>-->
<!--                                                    </div>-->
<!--                                                    <div class="show_info_right">-->
<!--                                                        <strong class="highlight">80%</strong>-->
<!--                                                        <span>7,000원</span>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </td>-->
<!--                                        </tr>-->
<!--                                        </tbody>-->
<!--                                    </table>-->
<!--                                </a>-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                        &lt;!&ndash; <td valign="top" align="center" class="show_box">-->
<!--                            <a href="">-->
<!--                                <table cellspacing="0" width="220" style="margin-bottom: 30px;">-->
<!--                                    <tbody>-->
<!--                                        <tr>-->
<!--                                            <div>-->
<!--                                                <img src="https://timeticket.co.kr/wys2/file_attach_thumb/2022/10/31/1667178239-10-0_wonbon_N_7_226x316_90_2.jpg"-->
<!--                                                    alt="공연 썸네일"-->
<!--                                                    style="border-radius: 10px; margin-bottom: 5px;">-->
<!--                                            </div>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td>-->
<!--                                                <strong>러브액츄얼리</strong>-->
<!--                                            </td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td>-->
<!--                                                <div class="show_info">-->
<!--                                                    <div class="show_info_left">-->
<!--                                                        <span>-->
<!--                                                            <img src="static/img/ico_star2.png" alt="별점">-->
<!--                                                            <span>(2)</span>-->
<!--                                                        </span>-->
<!--                                                    </div>-->
<!--                                                    <div class="show_info_right">-->
<!--                                                        <strong class="highlight">80%</strong>-->
<!--                                                        <span>7,000원</span>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </td>-->
<!--                                        </tr>-->
<!--                                    </tbody>-->
<!--                                </table>-->
<!--                            </a>-->
<!--                        </td>-->
<!--                        <td valign="top" align="center" class="show_box">-->
<!--                            <a href="">-->
<!--                                <table cellspacing="0" width="220" style="margin-bottom: 30px;">-->
<!--                                    <tbody>-->
<!--                                        <tr>-->
<!--                                            <div>-->
<!--                                                <img src="https://timeticket.co.kr/wys2/file_attach_thumb/2022/10/31/1667178239-10-0_wonbon_N_7_226x316_90_2.jpg"-->
<!--                                                    alt="공연 썸네일"-->
<!--                                                    style="border-radius: 10px; margin-bottom: 5px;">-->
<!--                                            </div>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td>-->
<!--                                                <strong>러브액츄얼리</strong>-->
<!--                                            </td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td>-->
<!--                                                <div class="show_info">-->
<!--                                                    <div class="show_info_left">-->
<!--                                                        <span>-->
<!--                                                            <img src="static/img/ico_star2.png" alt="별점">-->
<!--                                                            <span>(2)</span>-->
<!--                                                        </span>-->
<!--                                                    </div>-->
<!--                                                    <div class="show_info_right">-->
<!--                                                        <strong class="highlight">80%</strong>-->
<!--                                                        <span>7,000원</span>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </td>-->
<!--                                        </tr>-->
<!--                                    </tbody>-->
<!--                                </table>-->
<!--                            </a>-->
<!--                        </td>-->
<!--                        <td valign="top" align="center" class="show_box">-->
<!--                            <a href="">-->
<!--                                <table cellspacing="0" width="220" style="margin-bottom: 30px;">-->
<!--                                    <tbody>-->
<!--                                        <tr>-->
<!--                                            <div>-->
<!--                                                <img src="https://timeticket.co.kr/wys2/file_attach_thumb/2022/10/31/1667178239-10-0_wonbon_N_7_226x316_90_2.jpg"-->
<!--                                                    alt="공연 썸네일"-->
<!--                                                    style="border-radius: 10px; margin-bottom: 5px;">-->
<!--                                            </div>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td>-->
<!--                                                <strong>러브액츄얼리</strong>-->
<!--                                            </td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td>-->
<!--                                                <div class="show_info">-->
<!--                                                    <div class="show_info_left">-->
<!--                                                        <span>-->
<!--                                                            <img src="static/img/ico_star2.png" alt="별점">-->
<!--                                                            <span>(2)</span>-->
<!--                                                        </span>-->
<!--                                                    </div>-->
<!--                                                    <div class="show_info_right">-->
<!--                                                        <strong class="highlight">80%</strong>-->
<!--                                                        <span>7,000원</span>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </td>-->
<!--                                        </tr>-->
<!--                                    </tbody>-->
<!--                                </table>-->
<!--                            </a>-->
<!--                        </td>-->
<!--                        <td valign="top" align="center" class="show_box">-->
<!--                            <a href="">-->
<!--                                <table cellspacing="0" width="220" style="margin-bottom: 30px;">-->
<!--                                    <tbody>-->
<!--                                        <tr>-->
<!--                                            <div>-->
<!--                                                <img src="https://timeticket.co.kr/wys2/file_attach_thumb/2022/10/31/1667178239-10-0_wonbon_N_7_226x316_90_2.jpg"-->
<!--                                                    alt="공연 썸네일"-->
<!--                                                    style="border-radius: 10px; margin-bottom: 5px;">-->
<!--                                            </div>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td>-->
<!--                                                <strong>러브액츄얼리</strong>-->
<!--                                            </td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td>-->
<!--                                                <div class="show_info">-->
<!--                                                    <div class="show_info_left">-->
<!--                                                        <span>-->
<!--                                                            <img src="static/img/ico_star2.png" alt="별점">-->
<!--                                                            <span>(2)</span>-->
<!--                                                        </span>-->
<!--                                                    </div>-->
<!--                                                    <div class="show_info_right">-->
<!--                                                        <strong class="highlight">80%</strong>-->
<!--                                                        <span>7,000원</span>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </td>-->
<!--                                        </tr>-->
<!--                                    </tbody>-->
<!--                                </table>-->
<!--                            </a>-->
<!--                        </td> &ndash;&gt;-->

<!--                        </tbody>-->
<!--                    </table>-->
<!--                </div>-->
<!--                &lt;!&ndash; <div class="sliders">-->
<!--                    <img src="https://via.placeholder.com/170x234/00ff11/?text=play1" alt=""-->
<!--                        style="position:absolute; margin-left: 30px; border-radius: 20px;">-->
<!--                    <img src="https://via.placeholder.com/170x234/ffff01/?text=play2" alt=""-->
<!--                        style="position:absolute; margin-left: 30px; border-radius: 20px;">-->
<!--                    <img src="https://via.placeholder.com/170x234/55ff11/?text=play3" alt=""-->
<!--                        style="position:absolute; margin-left: 30px; border-radius: 20px;">-->
<!--                    <img src="https://via.placeholder.com/170x234/ff0011/?text=play4" alt=""-->
<!--                        style="position:absolute; margin-left: 30px; border-radius: 20px;">-->
<!--                </div> &ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--<footer>-->
<!--    <a href=" /">-->
<!--        <img class="logo" src="static/img/logo.png" alt="로고" style="width:150px;">-->
<!--    </a>-->
<!--    <div class="all_company">-->
<!--        <div class="company_info" style="float: left; margin-right: 15px;">-->
<!--            <address>구로지사 : (08368)서울특별시 구로구 항동 171-4, 하버라인 3단지 309동 101호</address>-->
<!--            <d1 class="company_info_list">-->
<!--                <dt>담당자</dt>-->
<!--                <dd>정원진</dd>-->
<!--                <dt>Tel</dt>-->
<!--                <dd>010-9074-1056</dd>-->
<!--                <dt>E-mail</dt>-->
<!--                <dd>jiopwls@naver.com</dd>-->
<!--            </d1>-->
<!--        </div>-->
<!--        <div class="company_info">-->
<!--            <address>수원지사 : (16941)경기도 수원시 팔달구 권광로 138, 선경리빙프라자 906호</address>-->
<!--            <d1 class="company_info_list">-->
<!--                <dt>담당자</dt>-->
<!--                <dd>이재현</dd>-->
<!--                <dt>Tel</dt>-->
<!--                <dd>010-8663-1564</dd>-->
<!--                <dt>E-mail</dt>-->
<!--                <dd>tisrenac21@kakao.com</dd>-->
<!--            </d1>-->
<!--        </div>-->
<!--        <div class="company_info" style="margin-top: 5px;">-->
<!--            <d1 class="company_info_list">-->
<!--                &lt;!&ndash; <dt></dt> &ndash;&gt;-->
<!--                <dd>&#169; Ticatcher. All Rights Reserved. 본 사이트는 포트폴리오 용으로 제작하였습니다.</dd>-->
<!--            </d1>-->
<!--        </div>-->
<!--    </div>-->
<!--</footer>-->
<!--<script type="text/javascript">-->
<!--    var divs = $(".show_box");-->
<!--    for (var i = 0; i < divs.length; i += 4) {-->
<!--        divs.slice(i, i + 4).wrapAll("<tr class='wrap'></tr>");-->
<!--    }-->

<!--    let btnlogout = document.querySelector('#btnlogout')-->
<!--    btnlogout.addEventListener('click', gologout)-->
<!--    function gologout() {-->
<!--        if(confirm('로그아웃 하시겠습니까?'))-->
<!--        { if(location.href = '/logout'){-->
<!--            alert('로그아웃 되었습니다.')}-->
<!--        };-->
<!--    }-->

<!--</script>-->
<!--</body>-->
<!--</html>-->