<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<th:block layout:fragment="main">
<div class="container">
    <div class="play_chart">
        <div class="contents">
            <div class="play_swiper slider">
                <div class="chart_text"
                     style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;">
                    <div class="select_chart" style="display: inline-flex;">
<!--                        <h3>인기순</h3>-->
<!--                        <h3 class="txt_div">|</h3>-->
<!--                        <h3>평점순</h3>-->
                        <h3>
                               최신 공연
                        </h3>
                    </div>
                    <a href="" style="font-size: 14px;">전체보기 ></a>
                </div>
                <div class="chart-list" style="margin-left: 10px;">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                        <tr>
                            <td th:each="stage : ${stages}" valign="top" align="center">
                                <a th:href="@{/payment(stage_idx=${stage.getStage_idx()})}">
                                    <table cellspacing="0" width="220" style="margin-bottom: 30px;">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <div>
                                                    <img th:src="${stage.getStage_posterPath()}"
                                                         alt="공연 썸네일"
                                                         style="border-radius: 10px; margin-bottom: 5px; width: 100%">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong th:text="${stage.getStage_name()}"></strong>
                                            </td>
                                        </tr>
<!--                                        <tr>-->
<!--                                            <td>-->
<!--                                                <div class="show_info">-->
<!--                                                    <div class="show_info_left">-->
<!--                                                                    <span>-->
<!--                                                                        <img src="static/img/ico_star2.png" alt="별점">-->
<!--                                                                        <span>(4.9)</span>-->
<!--                                                                    </span>-->
<!--                                                    </div>-->
<!--                                                    <div class="show_info_right">-->
<!--                                                        <strong class="highlight">72%</strong>-->
<!--                                                        <span>13,900원</span>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </td>-->
<!--                                        </tr>-->
                                        </tbody>
                                    </table>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</th:block>
<th:block layout:fragment="myscript">
</th:block>
</html>