<html xmlns:th = "http://www.thymeleaf.org">
<th:block th:fragment="footer">
    <footer>
        <a href=" /">
            <img class="logo" src="static/img/logo.png" alt="로고" style="width:150px;">
        </a>
        <div class="all_company">
            <div class="company_info" style="float: left; margin-right: 15px;">
                <address>구로지사 : (08368)서울특별시 구로구 항동 171-4, 하버라인 3단지 309동 101호</address>
                <d1 class="company_info_list">
                    <dt>담당자</dt>
                    <dd>정원진</dd>
                    <dt>Tel</dt>
                    <dd>010-9074-1056</dd>
                    <dt>E-mail</dt>
                    <dd>jiopwls@naver.com</dd>
                </d1>
            </div>
            <div class="company_info">
                <address>수원지사 : (16941)경기도 수원시 팔달구 권광로 138, 선경리빙프라자 906호</address>
                <d1 class="company_info_list">
                    <dt>담당자</dt>
                    <dd>이재현</dd>
                    <dt>Tel</dt>
                    <dd>010-8663-1564</dd>
                    <dt>E-mail</dt>
                    <dd>tisrenac21@kakao.com</dd>
                </d1>
            </div>
            <div class="company_info" style="margin-top: 5px;">
                <d1 class="company_info_list">
                    <!-- <dt></dt> -->
                    <dd>&#169; Ticatcher. All Rights Reserved. 본 사이트는 포트폴리오 용으로 제작하였습니다.</dd>
                </d1>
            </div>
        </div>
    </footer>
</th:block>
</html>