<html xmlns:th = "http://www.thymeleaf.org">
<th:block th:fragment="footer">
    <footer>
        <a href=" /">
            <img class="logo" src="static/img/logo.png" alt="로고" style="width:150px;">
        </a>
        <div class="all_company">
<!--            <div class="company_info" style="float: left; margin-right: 15px;">-->
<!--                <address>구로지사 : (08368)서울특별시 구로구 항동 171-4, 하버라인 3단지 309동 101호</address>-->
<!--                <d1 class="company_info_list">-->
<!--                    <dt>담당자</dt>-->
<!--                    <dd>정원진</dd>-->
<!--                    <dt>Tel</dt>-->
<!--                    <dd>010-9074-1056</dd>-->
<!--                    <dt>E-mail</dt>-->

<!--                    <dd>jiopwls@naver.com</dd>-->
<!--                </d1>-->
<!--            </div>-->
            <div class="company_info">
                <address>경기도 광명시 소하로 190, 8층 A818호 (소하동) [ 14322 ]</address>
                <d1 class="company_info_list">
                    <dt>대표</dt>
                    <dd>이재현</dd>
                    <dt>TEL</dt>
                    <dd>02-123-4567</dd>
                    <dt>FAX</dt>
                    <dd>02-123-5678</dd>
                    <dt>사업자등록번호</dt>
                    <dd>102-564-54928</dd>
                </d1>
            </div>
            <div class="company_info" style="margin-top: 5px;">
                <d1 class="company_info_list">
                    <!-- <dt></dt> -->
                    <dd>Copyright &#169; Ticatcher. All Rights Reserved.</dd>
                </d1>
            </div>
        </div>
    </footer>
</th:block>
</html>