body{
    background-color: rgb(248, 248, 248);
}
#container{
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}
header{
    /* margin: auto; */
    text-align: center;
}
header img{
    margin-bottom: -30px;
}
header p{
    color: rgb(94, 63, 180);
    font-size: large;
}
#main{
    /* width: 900px; */
    /* margin: auto; */
    text-align: center;
}
#adminlogin{
    background-color: rgb(255, 255, 255);
    /* margin: auto; */
    width: 350px;
    border: 2px solid rgb(204, 204, 204);
    border-radius: 20px;
    padding: 30px 30px;
    /* background-color: rgb(255, 254, 242); */
}
.loginput input{
    background-color: rgb(245, 245, 245);
    /* float: left; */
    width: 300px;
    height: 60px;
    border: 0px solid rgb(153, 153, 153);
    border-radius: 5px;
    font-size: 20px;
    padding-inline: 20px;
    margin-bottom: 15px;
}
#okbtn{
    width: 98%;
    border: 0px solid darkgray;
    /* border-radius: 10px; */
    /* padding: 10px 20px; */
    background-color: rgb(204, 198, 178);
    color: rgb(134, 134, 134);
    /* font-size: 24px; */
    font-weight: bold;
    margin-bottom: 0px;
}