p {
    font-size: 20px;
}

.left_wrap {
    float: left;
    width: 150px;
    padding-left: 10px;
}

.qna_answer{
    padding: 20px 10px;
    text-align: center;
    margin-top: 10px;
    border-top: 1px solid #545454;
    background-color: #222222;
}

.answer{
    margin-top: 20px;
    /* font-style: italic; */
    color: #d3d3d3;
    text-align: center;
}

.left_wrap p {
    padding-bottom: 10px;
    border-bottom: 1px solid #e2e2e2;
}

.left_wrap_btn {
    margin: 10px 0;
}

.left_wrap_btn span {
    color: rgba(255, 255, 255, 0.85);
}

.left_wrap_btn:hover span {
    color: #FEF1AB;
}

.select_btn {
    color: #FEF1AB !important;
}

.right_wrap {
    float: right;
    width: 780px;
    padding-left: 10px;
}

.right_list {
    margin-top: 15px;
}

.notice_wrap {
    margin-top: -4px;
    border-top: 2px solid #FEF1AB;
}

.notice_header {
    height: 73px;
    border-bottom: 1px solid #e2e2e2;
}

.notice_header li {
    float: left;
    padding: 15px 10px;
    font-size: 14px;
    font-weight: bold;
    height: 45px;
    width: 400px;
    margin-top: 11px;
}

.notice_header li:last-child {
    width: 100px;
    float: right;
    font-weight: normal;
    text-align: right;
    margin-top: 0px;
}

.notice_body {
    padding: 20px 10px;
    text-align: left;
    border-bottom: 1px solid #e2e2e2;
}

.list_header li:first-child {
    width: 85px;
    float: left;
    text-align: center;
    background: #FEF1AB;
    color: rgb(120, 120, 120);
}

.list_header li:nth-child(2) {
    width: 557px;
    float: left;
    text-align: center;
    background: #FEF1AB;
    color: rgb(120, 120, 120);
}

.list_header li:last-child {
    width: 128px;
    float: left;
    text-align: center;
    background: #FEF1AB;
    color: rgb(120, 120, 120)
}

.list_contents td {
    border-bottom: 1px solid #e2e2e2;
}

.list_contents li:first-child {
    width: 85px;
    float: left;
    text-align: center;
    padding: 10px 0;
}

.list_contents li:nth-child(2) {
    width: 565px;
    float: left;
    text-align: left;
    padding: 10px 0 10px 10px;
}

.list_contents li:last-child {
    width: 120px;
    float: right;
    text-align: center;
    padding: 10px 0;
}

.list_pager {
    text-align: center;
    margin-top: 20px;
}

.list_pager ul {
    display: inline-block;
    vertical-align: top;
}

.list_pager li {
    display: inline-block;
    padding: 0 8px;
    line-height: 40px;
}

.list_pager li a {
    color: rgba(255, 255, 255, 0.85);
}

.list_pager li a:hover,
.on {
    color: #FEF1AB !important;
    text-decoration: underline;

}

.btn_pager {
    display: inline-block;
    width: 61px;
    height: 35px;
    margin: 3px 2px 0 2px;
    background: url(../img/btn_pager.gif) no-repeat;
    border: 1px solid #d8d8d8;
    cursor: pointer;
}

.btn_pager.next {
    margin-left: 16px;
    padding: 0 24px 0 10px;
    vertical-align: top;
    background-position: calc(100% - 2px)-73px;
    border-radius: 4px;
}

.btn_pager.end {
    width: 40px;
    padding: 0;
    vertical-align: top;
    background-position: 12px -176px;
    font: 0/0 a;
    zoom: 1;
    border-radius: 4px;
}

.btn_pager.prev {
    margin-right: 16px;
    padding: 0 10px 0 24px;
    vertical-align: top;
    background-position: 2px -21px;
    border-radius: 4px;
}

.btn_pager.first {
    width: 40px;
    padding: 0;
    vertical-align: top;
    background-position: 12px -125px;
    font: 0/0 a;
    zoom: 1;
    border-radius: 4px;
}

.write_btn {
    float: right;
    width: 155px;
    height: 35px;
    background: #FEF1AB;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
    line-height: 35px;
    color: rgb(120, 120, 120);
    margin-left: 10px;
}

#answerarea{
    white-space: pre-wrap !important;
    background: none;
    color: #d1c9bf;
    resize: none;
    border: none;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

#answerarea:focus{
    outline: none;
}