p {
    font-size: 20px;
}

.left_wrap {
    float: left;
    width: 150px;
    padding-left: 10px;
}

.left_wrap p {
    padding-bottom: 10px;
    border-bottom: 1px solid #e2e2e2;
}

.left_wrap_btn {
    margin: 10px 0;
}

.left_wrap_btn span {
    color: rgba(255, 255, 255, 0.85);
}

.left_wrap_btn:hover span {
    color: #FEF1AB;
}

.select_btn {
    color: #FEF1AB !important;
}

.right_wrap {
    float: right;
    width: 780px;
    padding-left: 10px;
}

.right_list {
    margin-top: 15px;
    position: relative;
}

.quit_wrap {
    margin-top: 20px;
    padding: 20px 20px;
    outline: 1px solid #e2e2e2;
    line-height: 30px;
}

.quit_wrap p {
    font-size: 16px;
}

.quit_btn {
    margin-top: 20px;
    cursor: pointer;
    background: #FEF1AB;
    border: none;
    color: rgb(120, 120, 120);
    width: 150px;
    border-radius: 10px;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}