<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<th:block layout:fragment="mystyle">
    <!-- jQuery UI CSS파일 -->
    <link type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css"
          rel="stylesheet" />
    <link rel="stylesheet" href="static/css/payment.css">
</th:block>

<th:block layout:fragment="main">
    <div class="container">
        <div class="play_chart">
            <div class="contents">
                <section class="pay_show_info">
                    <div class="show_imgbox">
                        <img th:src="${stage.getStageVo().getStage_posterPath()}" alt="연극 포스터"
                             style="width: 280px; border-radius: 10px;">
                    </div>
                    <div class="show_detail_info">
                        <div class="show_header">
                            <h1 th:text="${stage.getStageVo().getStage_name()}"></h1>
                            <p th:text="${stage.getStageVo().getStage_info()}"></p>
                        </div>
                        <div class="detail_info">
                            <ul class="show_info_list">
                                <li class="show_info_item">
                                    <span class="item_title">장소</span>
                                    <div class="item_desc">라온아트홀</div>
                                </li>
                                <li class="show_info_item">
                                    <span class="item_title">관람시간</span>
                                    <div class="item_desc"><span th:text="${stage.getStageVo().getStage_runtime()}"></span></div>
                                </li>
                                <li class="show_info_item">
                                    <span class="item_title">기간</span>
                                    <div class="item_desc">OPEN RUN</div>
                                </li>
                                <li class="show_info_item">
                                    <span class="item_title">관람등급</span>
                                    <div class="item_desc"><span th:text="${stage.getStageVo().getStage_grade()}"></span></div>
                                </li>
                            </ul>
                            <ul class="show_info_list">
                                <li class="show_info_item">
                                    <span class="item_title">가격</span>
                                    <div class="item_desc">
                                        <ul class="info_sublist">
                                            <li class="info_subitem">
                                                <span class="dis_name">일반</span>
                                                <strong class="show_price"><span th:text="${#numbers.formatInteger(stage.getStageVo().getStage_price(), 3, 'COMMA')}"></span></strong>
                                                <span>원</span>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="show_info_item">
                                    <span class="item_title">할인</span>
                                    <div class="item_desc">
                                        <ul class="info_sublist">
                                            <li class="info_subitem">
                                                <span class="dis_name">예매할인(평일)</span>
                                                <strong class="show_price">15,900</strong>
                                                <span>원</span>
                                            </li>
                                            <li class="info_subitem">
                                                <span class="dis_name">중고생할인(평일)</span>
                                                <strong class="show_price">13,900</strong>
                                                <span>원</span>
                                            </li>
                                            <li class="info_subitem">
                                                <span class="dis_name">예매할인(주말)</span>
                                                <strong class="show_price">19,900</strong>
                                                <span>원</span>
                                            </li>
                                            <li class="info_subitem">
                                                <span class="dis_name">중고생할인(주말)</span>
                                                <strong class="show_price">16,900</strong>
                                                <span>원</span>
                                            </li>
                                            <li class="info_subitem">
                                                <span class="dis_name">문화의 날</span>
                                                <strong class="show_price">12,900</strong>
                                                <span>원</span>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
                <section class="pay_reserve">
                    <div class="show_detail_reserve">
                        <div class="reserve_date">
                            <div class="reserve_header">
                                <p class="reserve_step">STEP1</p>
                                <span class="reserve_title">날짜 선택</span>
                            </div>
                            <div id="calendar_popup" class="calendar_popup02 choice_day">
                                <div class="popup_warp">
                                    <div class="datepicker inp"></div>
                                </div>
                            </div>
                        </div>

                        <div class="reserve_time">
                            <div class="reserve_header">
                                <p class="reserve_step">STEP2</p>
                                <span class="reserve_title">회차 선택</span>
                            </div>
                            <ul class="reserve_time_list" role="listbox">
                                <li class="time_lists" role="none">
                                    <button type="button" class="time_lists_btn" aria-selected="true">
                                        <p>13시 00분</p>
                                    </button>
                                </li>
                                <li class="time_lists" role="none">
                                    <button type="button" class="time_lists_btn" aria-selected="false">
                                        <p>15시 00분</p>
                                    </button>
                                </li>
                                <li class="time_lists" role="none">
                                    <button type="button" class="time_lists_btn" aria-selected="false">
                                        <p>17시 00분</p>
                                    </button>
                                </li>
                                <li class="time_lists" role="none">
                                    <button type="button" class="time_lists_btn" aria-selected="false">
                                        <p>19시 00분</p>
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div class="reserve_ticket">
                            <div class="reserve_ticket_t">
                                <div class="reserve_header">
                                    <p class="reserve_step">STEP3</p>
                                    <span class="reserve_title">티켓선택</span>
                                </div>
                                <ul class="reserve_ticket_cnt" role="listbox">
                                    <li class="ticket_lists" role="none">
                                        <button type="button" class="ticket_lists_btn" aria-selected="false">
                                            <span class="ticket_opt_title">중고생할인</span>
                                            <span class="ticket_left">남은티켓 10매</span>
                                            <span class="ticket_price">13,900원</span>
                                        </button>
                                    </li>
                                    <li class="ticket_lists" role="none">
                                        <button type="button" class="ticket_lists_btn" aria-selected="false">
                                            <span class="ticket_opt_title">일반</span>
                                            <span class="ticket_left">남은티켓 10매</span>
                                            <span class="ticket_price">15,900원</span>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            <div class="reserve_ticket_b">
                                <div class="reserve_header">
                                    <p class="reserve_step">STEP4</p>
                                    <span class="reserve_title">수량선택</span>
                                </div>
                                <div class="select_opt">
                                    <div class="select_opt_ticket" id="111" style="width: 205px; margin-bottom: 10px;">
                                        <div class="opt_name" style="float: left; font-size: 14px;">
                                            1.25[수] 13:00 일반
                                        </div>
                                        <div style="display: inline-block; float: right;">
                                            <a href="#opt_close" class="close" data-store="111">
                                                <span style="font-size: 12px;
                                                border: 1px solid #888;
                                                border-radius: 5px;
                                                width: 14px;
                                                padding: 0 6px;
                                                color: #fff;
                                                background: #888;">X</span>
                                            </a>
                                        </div>
                                        <div style="clear: both;"></div>
                                        <div class="price_wrap"
                                             style="display: flex; align-items: center; justify-content: space-between; margin-top: 5px; width: 100%;">
                                            <div class="quantity"
                                                 style="display: flex; align-items: center; justify-content: space-between; width: 65px; height: 19px; border-radius: 3px; font-size: 13px;">
                                                <button type="button" class="remove_ticket">
                                                    <img src="https://timeticket.co.kr/mobile_img/detail/btn_minus_square.png"
                                                         alt="" style="width:18px; vertical-align: -5px;">
                                                </button>
                                                <span>1</span>
                                                <button type="button" class="add_ticket">
                                                    <img src="https://timeticket.co.kr/mobile_img/detail/btn_plus_square.png"
                                                         alt="" style="width:18px; vertical-align: -5px;">
                                                </button>
                                            </div>
                                            <span style="font-size: 14px;">15,900원</span>
                                        </div>
                                    </div>
                                    <div class="select_opt_ticket" id="111" style="width: 205px;">
                                        <div class="opt_name" style="float: left; font-size: 14px;">
                                            1.25[수] 13:00 중고생할인
                                        </div>
                                        <div style="display: inline-block; float: right;">
                                            <a href="#opt_close" class="close" data-store="111">
                                                <span style="font-size: 12px;
                                                border: 1px solid #888;
                                                border-radius: 5px;
                                                width: 14px;
                                                padding: 0 6px;
                                                color: #fff;
                                                background: #888;">X</span>
                                            </a>
                                        </div>
                                        <div style="clear: both;"></div>
                                        <div class="price_wrap"
                                             style="display: flex; align-items: center; justify-content: space-between; margin-top: 5px; width: 100%;">
                                            <div class="quantity"
                                                 style="display: flex; align-items: center; justify-content: space-between; width: 65px; height: 19px; border-radius: 3px; font-size: 13px;">
                                                <button type="button" class="remove_ticket">
                                                    <img src="https://timeticket.co.kr/mobile_img/detail/btn_minus_square.png"
                                                         alt="" style="width:18px; vertical-align: -5px;">
                                                </button>
                                                <span>1</span>
                                                <button type="button" class="add_ticket">
                                                    <img src="https://timeticket.co.kr/mobile_img/detail/btn_plus_square.png"
                                                         alt="" style="width:18px; vertical-align: -5px;">
                                                </button>
                                            </div>
                                            <span style="font-size: 14px;">13,900원</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="product_img">
            <p>작품상세정보</p>
            <div style="text-align: center;">
                <img src="https://aidankims.cdn2.cafe24.com/ticket/3000/3560/3560_noti.jpg" alt="">
            </div>
            <div style="text-align: center;">
                <img src="https://aidankims.cdn2.cafe24.com/ticket/3000/3560/3560_event.jpg" alt="">
            </div>
            <div style="text-align: center;">
                <img src="https://aidankims.cdn2.cafe24.com/ticket/3000/3560/3560_sale.jpg" alt="">
            </div>
            <div style="text-align: center;">
                <img src="https://aidankims.cdn2.cafe24.com/ticket/3000/3560/3560_00.jpg" alt="">
            </div>
            <div style="text-align: center;">
                <img src="https://aidankims.cdn2.cafe24.com/ticket/3000/3560/3560_01.jpg" alt="">
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="myscript">
    <!-- jQuery UI CSS파일 -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
    <!-- jQuery UI 라이브러리 js파일 -->
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <script src="static/js/payment.js"></script>
    <script type="text/javascript">

        var divs = $(".show_box");
        for (var i = 0; i < divs.length; i += 4) {
            divs.slice(i, i + 4).wrapAll("<tr class='wrap'></tr>");
        }

    </script>
</th:block>
</html>