<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<th:block layout:fragment="mystyle">
    <!-- jQuery UI CSS파일 -->
    <link type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css"
          rel="stylesheet" />
    <link rel="stylesheet" href="static/css/payment.css">
</th:block>

<th:block layout:fragment="main">
    <div class="container">
        <div class="play_chart">
            <div class="contents">
                <section class="pay_show_info">
                    <div class="show_imgbox">
                        <img th:src="${stage.getStage_posterPath()}" alt="연극 포스터"
                             style="width: 280px; border-radius: 10px;">
                    </div>
                    <div class="show_detail_info">
                        <div class="show_header">
                            <h1 th:text="${stage.getStage_name()}"></h1>
                            <p th:text="${stage.getStage_info()}"></p>
                        </div>
                        <div class="detail_info">
                            <ul class="show_info_list">
                                <li class="show_info_item">
                                    <span class="item_title">장소</span>
                                    <div style="display: inline;">
                                        <div th:each="theater : ${theaters}" class="item_desc">
                                            <span th:text="${theater.getTheater_name()}"></span>
<!--                                            <span th:unless="${theaterStat.last}">,&nbsp;</span>-->
                                        </div>
                                    </div>
                                </li>
                                <li class="show_info_item">
                                    <span class="item_title">관람시간</span>
                                    <div class="item_desc"><span th:text="${stage.getStage_runtime()}"></span></div>
                                </li>
                                <li class="show_info_item">
                                    <span class="item_title">기간</span>
                                    <div class="item_desc">
                                        <span th:text="${period}"></span>
                                    </div>
                                </li>
                                <li class="show_info_item">
                                    <span class="item_title">관람등급</span>
                                    <div class="item_desc"><span th:text="${stage.getStage_grade()}"></span></div>
                                </li>
                            </ul>
                            <ul class="show_info_list">
                                <li class="show_info_item" style="width: 100%">
                                    <span class="item_title">가격</span>
                                    <div class="item_desc">
                                        <table class="info_sublist">
                                            <tr class="info_subitem" th:each="price : ${prices}">
                                                <td class="dis_name" style="width: 230px;" th:text="${price.getPrice_name()}"></td>
                                                <td class="show_price" th:utext="${#numbers.formatInteger(price.getPrice_price(), 3, 'COMMA')} + '<span style=&quot;font-weight: normal;&quot;> 원</span>'"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </li>
                                <li class="show_info_item">
                                    <span class="item_title">예매</span>
                                    <div class="item_desc">
                                        판매중단
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
                <hr style="margin-top: 50px;" />
            </div>
        </div>
        <div class="product_img">
            <p>작품상세정보</p>
            <div th:each="imgs : ${infoImg}" style="text-align: center;">
                <img th:src="${imgs}" alt="">
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="myscript">
    <!-- jQuery UI CSS파일 -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
    <!-- jQuery UI 라이브러리 js파일 -->
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <script src="static/js/payment.js"></script>
    <script type="text/javascript">

        var divs = $(".show_box");
        for (var i = 0; i < divs.length; i += 4) {
            divs.slice(i, i + 4).wrapAll("<tr class='wrap'></tr>");
        }

    </script>
</th:block>
</html>