<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<th:block layout:fragment="main">
<div class="container">
    <div class="play_chart">
        <div class="contents">
            <div class="play_swiper slider">
                <div class="chart_text"
                     style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;">
                    <div class="select_chart" style="display: inline-flex;">
<!--                        <h3>인기순</h3>-->
<!--                        <h3 class="txt_div">|</h3>-->
<!--                        <h3>평점순</h3>-->
                        <h3>
                               최신순
                        </h3>
                    </div>
                </div>
                <div class="chart-list" style="margin-left: 10px;">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                        <tr>
                            <td th:each="stage : ${stages}" valign="top" align="center">
                                <table cellspacing="0" width="220" style="margin-bottom: 30px;">
                                    <tbody>
                                    <tr style="height: 300px">
                                        <td>
                                            <div style="margin-bottom: 10px;">
                                                <a th:href="@{/payment(stage_idx=${stage.getStage_idx()})}">
                                                    <img th:src="${stage.getStage_posterPath()}"
                                                         alt="공연 썸네일"
                                                         style="border-radius: 10px; height: 290px; width: 100%">
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center; font-size: 19px;">
                                            <strong th:text="${stage.getStage_name()}"></strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="show_info" style="justify-content: space-evenly;">
                                                <div class="show_info_left">
                                                    <span>
<!--                                                        <img src="static/img/ico_star2.png" alt="별점">-->
                                                        <input type="hidden" class="sdx" name="stageIdx" th:value="${stage.getStage_idx()}">
                                                        <span class="priceName"></span>
                                                    </span>
                                                </div>
                                                <div class="show_info_right">
<!--                                                    <strong class="highlight">72%</strong>-->
                                                    <span class="pricePrice"></span> 원
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <span th:if="((${stageStat.index} % 3) == 0) and ${stageStat.index} != 0" th:utext="'</tr><tr>'"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</th:block>
<th:block layout:fragment="myscript">
    <script th:inline="javascript">
        var priceNames = document.getElementsByClassName("priceName");
        var pricePrices = document.getElementsByClassName("pricePrice");
        var sdxs = document.getElementsByClassName("sdx");
        var stages = [[${stages}]];

        window.onload(ready());

        function ready(){
            for(let i = 0 ; i < stages.length ; i++){
                ajax(i);
            }
        }


        function ajax(i){
            var priceName = priceNames.item(i)
            var pricePrice = pricePrices.item(i)
            var sdx = sdxs.item(i)
            $.ajax({
                type: "POST",
                url: "/minprice?stageIdx="+sdx.value,
                contentType: "application/json; charset=utf-8",
                async: false,
                success: function (res){
                    priceName.innerHTML = res.price_name;
                    pricePrice.innerHTML = res.price_price.toLocaleString('ko-KR');
                },
                error : function(XMLHttpRequest, textStatus, errorThrown){ // 비동기 통신이 실패할경우 error 콜백으로 들어옵니다.
                    alert("통신 실패."+textStatus+errorThrown);
                }
            });
        };

    </script>
</th:block>
</html>